In [1]:
import findspark
findspark.init()

import pyspark
findspark.find()

'C:\\spark\\spark-3.2.0-bin-hadoop3.2'

In [2]:
# Create SparkSession from builder
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local") \
                    .appName('New App') \
                    .getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x000001F67D5133A0>

In [3]:
data = [(1,"Hemanth",'Python'), (2,"Hem", "JS"), (3,"Krishna", "Spark")]
rdd = spark.sparkContext.parallelize(data)
shema = ["No", "Name","Exp"]
df = rdd.toDF(shema)
df.printSchema()
df.show()

root
 |-- No: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Exp: string (nullable = true)

+---+-------+------+
| No|   Name|   Exp|
+---+-------+------+
|  1|Hemanth|Python|
|  2|    Hem|    JS|
|  3|Krishna| Spark|
+---+-------+------+

In [3]:
data = [(1,"Hemanth",'Python',15000), (2,"Hem", "JS",2000), (3,"Krishna", "Spark",150000)]
rdd = spark.sparkContext.parallelize(data)
Schema = ["No", "Name","Exp","Sal"]
df = rdd.toDF(Schema)
df.show()

+---+-------+------+------+
| No|   Name|   Exp|   Sal|
+---+-------+------+------+
|  1|Hemanth|Python| 15000|
|  2|    Hem|    JS|  2000|
|  3|Krishna| Spark|150000|
+---+-------+------+------+

In [8]:
from select import select
from pyspark.sql import functions as f
df.select(f.max("Sal"))\
    .show()

+--------+
|max(Sal)|
+--------+
|  150000|
+--------+

In [10]:
df.select(f.max("Sal")).collect()

[Row(max(Sal)=150000)]