In [1]:
import findspark
findspark.init()

import pyspark
findspark.find()

'C:\\spark\\spark-3.2.0-bin-hadoop3.2'

In [2]:
# Create SparkSession from builder
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local") \
                    .appName('New App') \
                    .getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x000001DF6D7933A0>

In [4]:
data = [(1,"Hemanth",'Python'), (2,"Hem", "JS"), (3,"Krishna", "Spark")]
rdd = spark.sparkContext.parallelize(data)
shema = ["No", "Name","Exp"]
df = rdd.toDF(shema)
df.printSchema()
df.show()

root
 |-- No: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Exp: string (nullable = true)

+---+-------+------+
| No|   Name|   Exp|
+---+-------+------+
|  1|Hemanth|Python|
|  2|    Hem|    JS|
|  3|Krishna| Spark|
+---+-------+------+

In [5]:
data = [(1,"Hemanth",'Python',15000), (2,"Hem", "JS",2000), (3,"Krishna", "Spark",150000)]
rdd = spark.sparkContext.parallelize(data)
Schema = ["No", "Name","Exp","Sal"]
df = rdd.toDF(Schema)
df.show()

+---+-------+------+------+
| No|   Name|   Exp|   Sal|
+---+-------+------+------+
|  1|Hemanth|Python| 15000|
|  2|    Hem|    JS|  2000|
|  3|Krishna| Spark|150000|
+---+-------+------+------+

In [6]:
from pyspark.sql import functions as f
from pyspark.sql.functions import col
df.orderBy(col("Sal").desc()) \
.show(1)

+---+-------+-----+------+
| No|   Name|  Exp|   Sal|
+---+-------+-----+------+
|  3|Krishna|Spark|150000|
+---+-------+-----+------+
only showing top 1 row

In [7]:

df.select(f.max("Sal"))\
    .show()

+--------+
|max(Sal)|
+--------+
|  150000|
+--------+

In [8]:
emptyRDD = spark.sparkContext.emptyRDD()
print(emptyRDD)

EmptyRDD[24] at emptyRDD at <unknown>:0

In [9]:

simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,34,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

schema = ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df.show(truncate=False)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |34 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

In [10]:

df.groupBy("age").count().show(truncate=False)

+---+-----+
|age|count|
+---+-----+
|34 |2    |
|50 |1    |
|25 |1    |
|36 |1    |
|30 |1    |
|40 |1    |
|53 |1    |
|24 |1    |
+---+-----+

In [13]:

df.groupBy("department","state") \
    .sum("salary","bonus") \
    .show()

+----------+-----+-----------+----------+
|department|state|sum(salary)|sum(bonus)|
+----------+-----+-----------+----------+
|   Finance|   NY|     162000|     34000|
| Marketing|   NY|      91000|     21000|
|     Sales|   CA|      81000|     23000|
| Marketing|   CA|      80000|     18000|
|   Finance|   CA|     189000|     47000|
|     Sales|   NY|     176000|     30000|
+----------+-----+-----------+----------+