In [2]:
import findspark
findspark.init()

In [3]:
import pyspark
findspark.find()

'C:\\spark\\spark-3.2.0-bin-hadoop3.2'

In [4]:

# Create SparkSession from builder
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local") \
                    .appName('My App') \
                    .getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x00000253CDDEBD90>

In [5]:
df = spark.createDataFrame(
    [("Hemanth", 250000), ("Hem", 350000), ("Hemanth Kumar", 210000)],["Name","Salary"])
df.show()

+-------------+------+
|         Name|Salary|
+-------------+------+
|      Hemanth|250000|
|          Hem|350000|
|Hemanth Kumar|210000|
+-------------+------+

In [6]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)

In [7]:
df.select("Name").show()

+-------------+
|         Name|
+-------------+
|      Hemanth|
|          Hem|
|Hemanth Kumar|
+-------------+

In [8]:
df.count()

3

In [9]:

# Create RDD from parallelize    
dataList = [("Java", 20000), ("Python", 100000), ("Scala", 3000)]
rdd=spark.sparkContext.parallelize(dataList)
print(rdd)

ParallelCollectionRDD[14] at readRDDFromFile at PythonRDD.scala:274

In [10]:

data = [('Hemanth','kumar','B','1995-01-27','M',300000),
  ('Lohi','P','','1999-05-19','M',400000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)

In [12]:
df.show()
df.printSchema()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|  Hemanth|     kumar|       B|1995-01-27|     M|300000|
|     Lohi|         P|        |1999-05-19|     M|400000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)