In [1]:
import findspark
findspark.init()

# Create SparkSession from builder
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local") \
                    .appName('My App') \
                    .getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x0000019300AC4F70>

In [2]:

data = [("James","Sales",3000),("Michael","Sales",4600),
      ("Robert","Sales",4100),("Maria","Finance",3000),
      ("Raman","Finance",3000),("Scott","Finance",3300),
      ("Jen","Finance",3900),("Jeff","Marketing",3000),
      ("Kumar","Marketing",2000)]

df = spark.createDataFrame(data,["Name","Department","Salary"])
df.show()

+-------+----------+------+
|   Name|Department|Salary|
+-------+----------+------+
|  James|     Sales|  3000|
|Michael|     Sales|  4600|
| Robert|     Sales|  4100|
|  Maria|   Finance|  3000|
|  Raman|   Finance|  3000|
|  Scott|   Finance|  3300|
|    Jen|   Finance|  3900|
|   Jeff| Marketing|  3000|
|  Kumar| Marketing|  2000|
+-------+----------+------+

In [3]:

from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number
windowDept = Window.partitionBy("department").orderBy(col("salary").desc())
df2=df.withColumn("row",row_number().over(windowDept))
df2.show()

+-------+----------+------+---+
|   Name|Department|Salary|row|
+-------+----------+------+---+
|    Jen|   Finance|  3900|  1|
|  Scott|   Finance|  3300|  2|
|  Maria|   Finance|  3000|  3|
|  Raman|   Finance|  3000|  4|
|   Jeff| Marketing|  3000|  1|
|  Kumar| Marketing|  2000|  2|
|Michael|     Sales|  4600|  1|
| Robert|     Sales|  4100|  2|
|  James|     Sales|  3000|  3|
+-------+----------+------+---+

In [4]:

df3=df2.filter(col("row") <= 2)
df3.show()

+-------+----------+------+---+
|   Name|Department|Salary|row|
+-------+----------+------+---+
|    Jen|   Finance|  3900|  1|
|  Scott|   Finance|  3300|  2|
|   Jeff| Marketing|  3000|  1|
|  Kumar| Marketing|  2000|  2|
|Michael|     Sales|  4600|  1|
| Robert|     Sales|  4100|  2|
+-------+----------+------+---+

In [6]:

df3.drop("row").show()

+-------+----------+------+
|   Name|Department|Salary|
+-------+----------+------+
|    Jen|   Finance|  3900|
|  Scott|   Finance|  3300|
|   Jeff| Marketing|  3000|
|  Kumar| Marketing|  2000|
|Michael|     Sales|  4600|
| Robert|     Sales|  4100|
+-------+----------+------+

In [4]:
sdf = spark.read.csv("D:/Code_Place/Data-Science/PySpark_SparkSql/files/*.csv")
sdf.show(5)