In [1]:
import findspark
findspark.init()

# Create SparkSession from builder
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local") \
                    .appName('My App') \
                    .getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x0000022F7DDE3F70>

In [2]:
simpleData = [("Hemanth",27,"2006-01-01","true","M",100000.60),
    ("Lohas",26,"1980-01-10","true","F",93000.80),
    ("Sons",7,"06-01-1992","false","M",5000.50)
  ]

columns = ["firstname","age","jobStartDate","isGraduated","gender","salary"]

In [6]:
df = spark.createDataFrame(data=simpleData,schema=columns)

df.printSchema()
df.show()

root
 |-- firstname: string (nullable = true)
 |-- age: long (nullable = true)
 |-- jobStartDate: string (nullable = true)
 |-- isGraduated: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: double (nullable = true)

+---------+---+------------+-----------+------+--------+
|firstname|age|jobStartDate|isGraduated|gender|  salary|
+---------+---+------------+-----------+------+--------+
|  Hemanth| 27|  2006-01-01|       true|     M|100000.6|
|    Lohas| 26|  1980-01-10|       true|     F| 93000.8|
|     Sons|  7|  06-01-1992|      false|     M|  5000.5|
+---------+---+------------+-----------+------+--------+

In [5]:
from pyspark.sql.types import IntegerType,BooleanType,datetime

df = df.withColumn('salary',df.salary.cast(IntegerType()))
df.show()

+---------+---+------------+-----------+------+------+
|firstname|age|jobStartDate|isGraduated|gender|salary|
+---------+---+------------+-----------+------+------+
|  Hemanth| 27|  2006-01-01|       true|     M|100000|
|    Lohas| 26|  1980-01-10|       true|     F| 93000|
|     Sons|  7|  06-01-1992|      false|     M|  5000|
+---------+---+------------+-----------+------+------+