In [11]:
import pandas as pd
num = 0
for data in  pd.read_csv("employees_202206172332.csv", chunksize = 5000 ):
    num = num+1
    name = 'emps_'+str(num)+'.csv'
    data.to_csv(name, index=False)
    #print(name, 'loaded')

In [29]:
import glob
path = r'D:\Code_Place\Data-Science\PySpark_SparkSql\files' # use your path
filenames = glob.glob(path + "/*.csv")
df = pd.concat(map(pd.read_csv, filenames))
df.head()

   emp_no emp_title_id  birth_date  first_name  last_name gender   hire_date
0  473302        s0001  1953-07-25    Hideyuki   Zallocco      M  1990-04-28
1  475053        e0002  1954-11-18       Byong  Delgrande      F  1991-09-07
2   57444        e0002  1958-01-30       Berry       Babb      F  1992-03-21
3  421786        s0001  1957-09-28       Xiong   Verhoeff      M  1987-11-26
4  282238        e0003  1952-10-28  Abdelkader    Baumann      F  1991-01-18

In [30]:
print(len(df))

300024