In [4]:
import pandas as pd
num = 1
for data in  pd.read_csv("employees_202206172332.csv", chunksize = 300 ):
    num = num+1
    name = num +'.csv'
    data.to_csv(name)

    emp_no emp_title_id  birth_date  first_name  last_name gender   hire_date
0   473302        s0001  1953-07-25    Hideyuki   Zallocco      M  1990-04-28
1   475053        e0002  1954-11-18       Byong  Delgrande      F  1991-09-07
2    57444        e0002  1958-01-30       Berry       Babb      F  1992-03-21
3   421786        s0001  1957-09-28       Xiong   Verhoeff      M  1987-11-26
4   282238        e0003  1952-10-28  Abdelkader    Baumann      F  1991-01-18
..     ...          ...         ...         ...        ...    ...         ...
95  492191        e0002  1962-04-29       Remco     Vakili      F  1990-08-15
96  457800        s0001  1963-09-20   Stabislas    Domenig      M  1986-08-04
97  446142        e0003  1961-08-22     Gregory    Zedlitz      F  1993-07-10
98  201769        e0004  1961-11-06      Jayesh      Merel      M  1992-09-26
99   56049        s0001  1952-07-15   Felicidad    Waymire      F  1988-01-15

[100 rows x 7 columns]
     emp_no emp_title_id  birth_date first_name     last_name gender  \
100  414537        s0001  1960-08-13    Chikara      Businaro      M
101  414885        s0001  1962-08-03    Candido        Vecchi      M
102  474291        e0003  1959-12-01  Juichirou      Jumpertz      M
103  250218        e0003  1953-01-30      Uriel       Zongker      M
104  451340        s0001  1961-12-08     Satosi          Zyda      M
..      ...          ...         ...        ...           ...    ...
195  453362        s0001  1964-08-21      Yucel  Parascandalo      M
196   31634        e0003  1954-06-07      Mohua        Rubsam      F
197   45051        e0003  1964-12-31   Girolamo     Billawala      M
198  468780        s0001  1959-03-17     Filipp    Schnelling      M
199  208208        e0003  1961-12-22    Jianhua     Delgrossi      M

      hire_date
100  1987-01-04
101  1995-08-27
102  1986-09-18
103  1988-01-25
104  1987-10-09
..          ...
195  1990-06-27
196  1988-04-04
197  1995-06-09
198  1992-11-27
199  1989-02-06

[100 rows x 7 columns]
     emp_no emp_title_id  birth_date   first_name   last_name gender  \
200   11079        e0003  1952-09-18       Piyush  Garigliano      M
201  210347        s0001  1952-05-29      Junichi   Kowalchuk      F
202  418149        e0003  1962-04-27       Xuejun        Luiz      M
203  248886        e0003  1960-09-07     Geoffrey     Murrill      M
204  435490        e0002  1959-04-23    Zhensheng      Covnot      M
..      ...          ...         ...          ...         ...    ...
295  459789        s0001  1962-08-20        Paddy      Candan      M
296  438835        e0003  1954-12-17  Constantijn        Penz      M
297  470360        e0003  1960-01-11    Shrikanth      Hitomi      F
298  273830        e0003  1961-01-13       Chrisa      Demizu      M
299  205312        s0001  1956-10-15         Arco      Matzat      M

      hire_date
200  1993-10-09
201  1991-09-28
202  1985-02-17
203  1990-11-16
204  1994-01-29
..          ...
295  1990-06-08
296  1985-03-19
297  1987-02-13
298  1985-06-03
299  1990-10-03

[100 rows x 7 columns]
     emp_no emp_title_id  birth_date     first_name   last_name gender  \
300   14296        e0001  1959-02-09         Ronnie       Rosen      M
301  293141        e0003  1964-06-21         Zhiwei    Kaminger      M
302   84577        e0003  1957-10-05  Satyanarayana  Garigliano      F
303  495278        e0003  1958-12-12         Mayuko     Bisiani      M
304  405076        e0003  1963-03-04          Marit        Baby      M
..      ...          ...         ...            ...         ...    ...
395  429536        s0001  1957-11-02          Toney  Sambasivam      M
396  241350        s0001  1958-02-01         Gretta      Leslie      M
397  231552        s0001  1962-07-31          Bernt       Munke      F
398  430657        s0001  1958-10-02      Guadalupe       Kroha      F
399   65328        e0003  1959-01-10          Muneo        Erde      F

      hire_date
300  1990-10-26
301  1986-07-04
302  1985-04-25
303  1989-02-23
304  1990-01-13
..          ...
395  1992-12-07
396  1994-11-04
397  1995-11-30
398  1989-01-02
399  1990-01-12

[100 rows x 7 columns]
     emp_no emp_title_id  birth_date  first_name       last_name gender  \
400  461247        e0002  1960-03-18       Aimee           Coorg      F
401  494822        s0001  1955-04-21     Naftaly            Luga      M
402  279041        e0003  1962-05-06     JiYoung         Delaune      M
403  402841        e0003  1963-12-22    Dayanand         Barinka      M
404  439346        s0002  1961-07-26      Kellyn        Takanami      M
..      ...          ...         ...         ...             ...    ...
495   20346        e0003  1955-04-11       Jeong  Antonakopoulos      M
496  450325        s0002  1958-02-21   Kiyomitsu         Bottner      M
497  482188        e0003  1954-09-01       Akemi          Panwar      M
498   93049        e0002  1954-01-27  Christoper       Ananiadou      F
499  474246        e0004  1954-06-02     Phillip         Jonsson      M

      hire_date
400  1995-05-02
401  1987-11-11
402  1986-09-04
403  1989-07-16
404  1996-01-01
..          ...
495  1987-08-13
496  1986-11-07
497  1987-08-07
498  1988-11-19
499  1992-08-13

[100 rows x 7 columns]
     emp_no emp_title_id  birth_date   first_name last_name gender   hire_date
500  267004        s0001  1962-11-23       Teunis  Ghalwash      M  1993-06-24
501  213241        s0001  1962-02-05        Berni  Thorelli      M  1986-08-05
502  109457        s0001  1954-07-08        Stevo   Rosiles      M  1987-09-01
503   24584        e0003  1957-10-17     Salvador     Nitta      M  1994-07-27
504  492691        e0001  1963-04-06  Sreekrishna      Baak      F  1993-04-21
..      ...          ...         ...          ...       ...    ...         ...
595  273206        e0003  1960-05-01      Gennadi     Biron      M  1990-06-12
596  211689        e0003  1959-03-19          Uli    Karner      F  1987-11-10
597   79988        e0002  1956-07-03      Tsutomu    Beeson      M  1996-06-21
598  233635        s0002  1958-06-16       Radhia     Picel      F  1987-01-12
599   38211        e0003  1955-05-06    Franziska   Colorni      M  1985-06-16

[100 rows x 7 columns]
     emp_no emp_title_id  birth_date first_name  last_name gender   hire_date
600   74932        e0003  1964-02-27       Kish    Borovoy      M  1994-02-24
601  438086        s0001  1957-09-09       Maja     Ramsak      F  1993-12-28
602  241260        e0003  1955-11-11     Kellie   Heinisuo      F  1985-06-06
603  233753        e0003  1963-07-25      Wayne     Flexer      M  1990-03-09
604  268290        s0001  1959-05-16     Rosine      Range      M  1993-08-02
..      ...          ...         ...        ...        ...    ...         ...
695   16747        e0002  1954-11-03    Taisook       Cyre      F  1997-05-19
696  433634        s0001  1959-12-10      Oscar     Masada      M  1987-09-16
697  103589        e0003  1953-04-29       Ipke   Fujisaki      M  1988-12-24
698  226582        s0001  1954-01-08   Reinhard      Serre      M  1986-07-14
699  299441        s0001  1964-04-30   Qunsheng  Billawala      F  1990-11-14

[100 rows x 7 columns]
     emp_no emp_title_id  birth_date first_name      last_name gender  \
700   77615        s0001  1952-08-18    Jianwen         Krupka      M
701  109409        s0001  1956-12-29      Xumin          Coorg      M
702   27679        s0001  1953-07-11     Kerryn      Lindqvist      M
703   57553        e0003  1963-04-17        Gou       Thorelli      F
704   77989        e0003  1957-02-17   Kristina          Conte      M
..      ...          ...         ...        ...            ...    ...
795   85549        e0003  1959-03-10    Volkmar      Levasseur      F
796  269252        s0001  1955-08-28    Behnaam  Schwartzbauer      M
797  203597        s0001  1963-09-25       Mona       Lagarias      F
798   56931        e0003  1959-06-20     Kannan        Parveen      M
799  472169        e0003  1957-02-09      Marla     Scharstein      M

      hire_date
700  1987-05-02
701  1987-10-08
702  1992-10-09
703  1985-03-28
704  1985-08-15
..          ...
795  1985-04-06
796  1986-10-17
797  1993-04-25
798  1990-09-08
799  1987-01-29

[100 rows x 7 columns]
     emp_no emp_title_id  birth_date first_name   last_name gender   hire_date
800   28336        s0001  1959-06-23    Florian       Ozery      F  1988-12-27
801  493767        s0001  1964-09-15       Shem   Petersohn      M  1986-07-08
802  104731        e0002  1963-12-11     Sarita       Azuma      M  1990-12-30
803  260839        s0001  1955-09-12       Iara      Ladret      M  1997-02-13
804  426784        e0002  1961-09-17      Keung  Taubenfeld      M  1985-09-24
..      ...          ...         ...        ...         ...    ...         ...
895   32303        s0002  1953-02-16       Bodh       Merli      M  1987-06-22
896  455549        e0002  1956-09-19  Christoph    Rissland      M  1990-06-16
897  258611        e0004  1960-12-15       Moti       Conia      F  1985-07-24
898  408581        e0002  1954-07-11      Marek   Delgrossi      F  1989-11-13
899  219435        e0004  1959-10-10      Zejun    Birnbaum      F  1996-10-06

[100 rows x 7 columns]
     emp_no emp_title_id  birth_date first_name  last_name gender   hire_date
900   21857        e0002  1959-02-28     Kellyn   Kusakari      M  1992-11-17
901  101298        s0001  1953-02-27     Mabhin      Conia      M  1994-09-04
902  227057        s0001  1961-04-13    Limsoon   McAlpine      M  1988-02-13
903   58824        e0003  1954-09-18     Claudi     Baalen      M  1991-05-12
904  426538        e0003  1956-11-16      Roddy    Busillo      F  1985-04-21
..      ...          ...         ...        ...        ...    ...         ...
995   61414        e0004  1960-06-03       Giri    Kohling      M  1989-09-25
996   24452        s0001  1959-10-05   Ayakannu     Basart      M  1990-08-02
997  491988        s0001  1953-09-03      Perla  Magliocco      M  1993-05-21
998   82368        s0002  1961-11-01      Hatim   Hanabata      M  1990-11-16
999  200095        s0001  1956-11-04      Isamu    Kobuchi      F  1986-02-02

[100 rows x 7 columns]
      emp_no emp_title_id  birth_date first_name     last_name gender  \
1000   99400        s0001  1953-04-25     Hitomi  Decaestecker      F
1001   79008        e0002  1963-09-21     Sachio        Covnot      M
1002  231755        e0002  1962-02-09    Xuedong        Sgarro      F
1003  430534        e0003  1953-07-12    Ghassan       Walston      M
1004  212101        e0002  1964-08-02     Niclas         Merro      M
...      ...          ...         ...        ...           ...    ...
1095  254812        e0004  1956-04-15     Ortrud       Vrecion      F
1096   23386        e0004  1958-12-07    Gunilla    Legleitner      M
1097  400499        e0002  1952-12-17       Gino        Brizzi      M
1098  297324        e0003  1955-02-13    Spyrose       Shrader      F
1099   30483        e0003  1957-12-14    Florina     Gerteisen      F

       hire_date
1000  1985-09-20
1001  1989-01-11
1002  1986-12-24
1003  1986-06-15
1004  1987-01-05
...          ...
1095  1985-05-30
1096  1986-11-15
1097  1991-08-15
1098  1990-01-30
1099  1988-07-10

[100 rows x 7 columns]
      emp_no emp_title_id  birth_date  first_name         last_name gender  \
1100  489856        e0003  1956-06-01   Qingxiang              Gien      F
1101  479046        s0002  1957-01-15        Shin            Rikino      F
1102  288428        e0003  1964-04-11      Pranas           Kushnir      F
1103  430167        e0003  1957-05-15       Supot             Pluym      M
1104  255422        s0001  1953-03-30       Xinan            Przulj      M
...      ...          ...         ...         ...               ...    ...
1195  462358        e0003  1963-09-23     Dipayan        Marchesini      M
1196  403282        s0001  1963-01-18  Abdelwaheb           Nourani      M
1197  292399        e0003  1956-05-19     Susanne           Apsitis      F
1198   31315        s0001  1962-08-01      Pramod            Herath      F
1199  460900        e0003  1955-01-10       Berna  Sankaranarayanan      M

       hire_date
1100  1991-05-21
1101  1988-09-13
1102  1995-05-12
1103  1987-07-27
1104  1988-06-06
...          ...
1195  1989-03-11
1196  1991-06-11
1197  1987-12-14
1198  1985-07-02
1199  1989-04-14

[100 rows x 7 columns]
      emp_no emp_title_id  birth_date first_name  last_name gender   hire_date
1200   71123        e0003  1958-09-28     Sigeru   Langford      M  1986-05-17
1201  494470        e0002  1959-08-22      Marjo      Cools      M  1986-12-04
1202  109419        s0001  1959-03-20   Odysseas    Eastman      F  1989-06-12
1203   73177        s0001  1959-02-26      Jiann  Wielonsky      F  1985-12-06
1204  267630        e0003  1958-01-05   Kamakshi     Docker      M  1992-08-30
...      ...          ...         ...        ...        ...    ...         ...
1295  207806        s0001  1961-01-01    Limsoon  Alameldin      F  1990-11-17
1296   46645        e0002  1960-02-22      Shuzo     Ramsay      F  1993-05-19
1297  243731        s0002  1958-10-03   Xiaoheng     Rikino      F  1990-08-10
1298  251611        e0004  1956-09-02     Chenye   Halloran      M  1990-06-08
1299  489916        e0002  1955-07-01      Steve      Munoz      F  1986-12-10

[100 rows x 7 columns]
      emp_no emp_title_id  birth_date first_name    last_name gender  \
1300   17687        s0001  1962-12-14     Lucian         Undy      M
1301   72332        s0001  1955-12-03  Yechezkel     Roccetti      M
1302   81013        e0003  1964-05-18       Shaw    Servieres      F
1303   77846        e0003  1962-06-03   Shooichi  Kitsuregawa      F
1304  254281        e0003  1955-01-26      Anwar      Keirsey      M
...      ...          ...         ...        ...          ...    ...
1395   35251        s0001  1964-12-31  Sudhanshu    Gustavson      F
1396   55378        s0001  1960-03-20     Jaihie       DeMori      M
1397   79979        e0003  1955-10-26    Yunming     Papsdorf      M
1398   88561        s0002  1960-08-14    Honglan       Homond      F
1399  442055        s0001  1957-12-02      Sadun      Benaini      M

       hire_date
1300  1997-04-01
1301  1990-01-11
1302  1994-09-09
1303  1987-11-21
1304  1991-11-05
...          ...
1395  1991-07-08
1396  1992-07-26
1397  1986-12-29
1398  1985-07-22
1399  1990-08-16

[100 rows x 7 columns]
      emp_no emp_title_id  birth_date first_name     last_name gender  \
1400  407265        e0002  1952-07-05     Weidon        Cooley      M
1401  289697        e0003  1964-10-12      Mohua         Ranta      M
1402   97245        e0003  1962-01-18     Vivian      Broomell      F
1403   24684        e0003  1952-08-02  Abdelaziz         Junet      M
1404   55127        e0003  1952-10-07    Volkmar        Kugler      M
...      ...          ...         ...        ...           ...    ...
1495  498747        e0003  1957-04-09  Chiradeep  Sooriamurthi      F
1496   26581        e0004  1961-04-07     Mansur       Weiland      M
1497   47627        s0002  1953-04-26  Alejandra      Harbusch      F
1498  419898        s0001  1955-10-07    Zhanqiu         Merkl      M
1499  259003        e0003  1955-01-17     Cathie   Radivojevic      M

       hire_date
1400  1997-03-23
1401  1987-01-20
1402  1985-07-16
1403  1989-04-10
1404  1993-11-24
...          ...
1495  1989-02-27
1496  1986-07-19
1497  1988-08-03
1498  1986-07-21
1499  1992-11-03

[100 rows x 7 columns]
      emp_no emp_title_id  birth_date first_name    last_name gender  \
1500  466515        s0002  1963-07-20  Shigehiro      Bondorf      M
1501   47280        e0002  1953-07-13      Maria     Rissanen      M
1502   10902        e0001  1964-05-09  Inderjeet        Perly      M
1503   24487        e0003  1958-02-04   Yonghoan    Hasenauer      M
1504   58534        s0001  1953-05-31     Beshir  Jayawardene      M
...      ...          ...         ...        ...          ...    ...
1595   38353        e0002  1956-09-25     Marsha     Polajnar      M
1596   24480        e0003  1961-04-08      Yucel      Glinert      M
1597  234751        s0001  1962-06-06   Shunichi     Plessier      M
1598   65276        s0002  1957-04-04    Jiakeng     Suermann      M
1599   53896        s0001  1953-08-24     Chinya    Trogemann      M

       hire_date
1500  1990-10-30
1501  1989-04-14
1502  1990-04-22
1503  1987-04-19
1504  1995-07-27
...          ...
1595  1989-04-15
1596  1991-11-29
1597  1996-02-26
1598  1986-08-07
1599  1989-07-14

[100 rows x 7 columns]
      emp_no emp_title_id  birth_date first_name    last_name gender  \
1600  476138        e0003  1958-08-04      Ioana      Genther      M
1601  485055        e0003  1954-11-24     Cullen         Zyda      F
1602  254616        s0002  1964-12-20    Kristin         Baek      F
1603   16300        e0003  1953-10-10    Jackson        Coney      F
1604   30361        e0002  1955-04-03    Nidapan     DasSarma      M
...      ...          ...         ...        ...          ...    ...
1695  264425        e0002  1956-05-20      Bojan     Kavanagh      F
1696   90321        e0003  1957-10-05      Lijia   Selvestrel      M
1697   27758        s0001  1959-12-24     Basant   Perfilyeva      M
1698  459501        s0001  1954-06-25    Hairong        Demri      M
1699  288594        e0003  1962-02-27      Rildo  Rabehasaina      F

       hire_date
1600  1994-08-31
1601  1987-11-30
1602  1985-09-15
1603  1990-09-03
1604  1994-05-01
...          ...
1695  1996-12-27
1696  1986-05-31
1697  1985-10-25
1698  1995-12-17
1699  1987-10-03

[100 rows x 7 columns]
      emp_no emp_title_id  birth_date first_name  last_name gender   hire_date
1700  475535        s0001  1953-05-16    Jianhui    Chelton      M  1989-03-31
1701  466969        e0003  1955-09-10     Sariel    Skogmar      M  1988-09-15
1702   80376        s0001  1954-03-11       Maha     Hofman      M  1990-02-15
1703  264481        s0001  1952-10-18       Lene     Cooman      M  1997-12-30
1704  217466        s0001  1961-03-29  Genevieve  Bojadziev      F  1985-12-27
...      ...          ...         ...        ...        ...    ...         ...
1795   91349        e0002  1958-09-12      Hidde   Takanami      M  1991-02-18
1796  219386        e0003  1963-06-12      Aksel     Pillow      M  1992-02-25
1797  231401        e0003  1953-04-01     Fumino      Biran      F  1986-02-10
1798  428687        e0004  1964-04-14       Gift    Porenta      M  1988-09-08
1799  107129        s0001  1956-02-02     Poorav    Kulisch      M  1991-11-13

[100 rows x 7 columns]
      emp_no emp_title_id  birth_date     first_name    last_name gender  \
1800   80020        e0003  1964-11-01         Theron        Merel      F
1801   51891        e0003  1960-11-16         Jaewon     Granlund      F
1802  469117        e0003  1959-06-12       Kazunori        Yetto      F
1803  236177        s0002  1963-08-05         Masali       Ruther      F
1804   52722        s0001  1963-08-14        Youssef  Zeidenstein      M
...      ...          ...         ...            ...          ...    ...
1895  209378        e0003  1959-03-27       Sampalli    Heemskerk      M
1896  255810        s0001  1962-10-20          Irena       Luders      M
1897   98267        s0001  1964-05-28         Lihong      Zwicker      M
1898  431199        s0002  1957-01-03  Poornachandra      Honglei      M
1899   98776        s0001  1959-09-29            Fay      Waymire      M

       hire_date
1800  1988-01-22
1801  1990-03-02
1802  1987-05-04
1803  1989-07-12
1804  1986-10-26
...          ...
1895  1987-12-25
1896  1988-03-04
1897  1986-09-03
1898  1988-01-29
1899  1994-06-17

[100 rows x 7 columns]
      emp_no emp_title_id  birth_date first_name   last_name gender  \
1900  488589        e0003  1959-12-25   Dietrich      Farrow      M
1901  266291        e0003  1960-09-11     Mayumi    Kaltofen      M
1902   70694        s0002  1958-04-18     Tesuya  Belinskaya      M
1903  411086        e0003  1957-09-05      Nevio        Baar      F

KeyboardInterrupt: