In [23]:
import pandas as pd

df = pd.read_csv('logs.csv')
df

   session_id flow_name                              error_msg
0         995       xyz       this code is failed with ERR_980
1         996       xxx       this code is failed with ERR_900
2         991       xyy       this code is failed with ERR_980
3         995       xyz       this code is failed with ERR_980
4         996       xxx       this code is failed with ERR_900
5         996       xxx  this code is failed with ERR_700 and

In [24]:
df['error_msg']

0         this code is failed with ERR_980
1         this code is failed with ERR_900
2         this code is failed with ERR_980
3         this code is failed with ERR_980
4         this code is failed with ERR_900
5    this code is failed with ERR_700 and
Name: error_msg, dtype: object

In [25]:
import re

err_codes = []

for line in re.findall("ERR.{4}", str(df['error_msg'])):
    err_codes.append(line)

In [26]:
err_codes

['ERR_980', 'ERR_900', 'ERR_980', 'ERR_980', 'ERR_900', 'ERR_700']

In [27]:
df['err_codes'] = err_codes

In [28]:
df

   session_id flow_name                              error_msg err_codes
0         995       xyz       this code is failed with ERR_980   ERR_980
1         996       xxx       this code is failed with ERR_900   ERR_900
2         991       xyy       this code is failed with ERR_980   ERR_980
3         995       xyz       this code is failed with ERR_980   ERR_980
4         996       xxx       this code is failed with ERR_900   ERR_900
5         996       xxx  this code is failed with ERR_700 and    ERR_700

In [7]:
df.columns

Index(['session_id', 'flow_name', 'error_msg', 'err_codes'], dtype='object')

In [29]:
df_f = df[['session_id','flow_name', 'error_msg','err_codes']]

In [30]:
df_f

   session_id flow_name                              error_msg err_codes
0         995       xyz       this code is failed with ERR_980   ERR_980
1         996       xxx       this code is failed with ERR_900   ERR_900
2         991       xyy       this code is failed with ERR_980   ERR_980
3         995       xyz       this code is failed with ERR_980   ERR_980
4         996       xxx       this code is failed with ERR_900   ERR_900
5         996       xxx  this code is failed with ERR_700 and    ERR_700

In [31]:
df_f.isna()

   session_id  flow_name  error_msg  err_codes
0       False      False      False      False
1       False      False      False      False
2       False      False      False      False
3       False      False      False      False
4       False      False      False      False
5       False      False      False      False

In [11]:
#df_f.hist(bins=10)

In [32]:
col = list(pd.factorize(df_f['err_codes'])[0])
col

[0, 1, 0, 0, 1, 2]

In [34]:
df_f["Error"]= col
df_f

,session_id,flow_name,error_msg,err_codes,Error
0,995,xyz,this code is failed with ERR_980,ERR_980,0
1,996,xxx,this code is failed with ERR_900,ERR_900,1
2,991,xyy,this code is failed with ERR_980,ERR_980,0
3,995,xyz,this code is failed with ERR_980,ERR_980,0
4,996,xxx,this code is failed with ERR_900,ERR_900,1
5,996,xxx,this code is failed with ERR_700 and,ERR_700,2

In [78]:
df_f.describe()

       session_id     Error
count    6.000000  6.000000
mean   994.833333  0.666667
std      1.940790  0.816497
min    991.000000  0.000000
25%    995.000000  0.000000
50%    995.500000  0.500000
75%    996.000000  1.000000
max    996.000000  2.000000

In [82]:
dfc = df_f.value_counts()
dfc

session_id  flow_name  error_msg                              err_codes  Error
995         xyz        this code is failed with ERR_980       ERR_980    0        2
996         xxx        this code is failed with ERR_900       ERR_900    1        2
991         xyy        this code is failed with ERR_980       ERR_980    0        1
996         xxx        this code is failed with ERR_700 and   ERR_700    2        1
dtype: int64

In [119]:
dfc.to_csv('saves.csv')

In [120]:
new = pd.read_csv('saves.csv')
new

,session_id,flow_name,error_msg,err_codes,Error,0
0,995,xyz,this code is failed with ERR_980,ERR_980,0,2
1,996,xxx,this code is failed with ERR_900,ERR_900,1,2
2,991,xyy,this code is failed with ERR_980,ERR_980,0,1
3,996,xxx,this code is failed with ERR_700 and,ERR_700,2,1

In [122]:
new.columns

Index(['session_id', 'flow_name', 'error_msg', 'err_codes', 'Error', '0'], dtype='object')

In [125]:
new.columns = ['session_id', 'flow_name', 'error_msg', 'err_codes', 'Error', 'failed']

In [126]:
new

,session_id,flow_name,error_msg,err_codes,Error,failed
0,995,xyz,this code is failed with ERR_980,ERR_980,0,2
1,996,xxx,this code is failed with ERR_900,ERR_900,1,2
2,991,xyy,this code is failed with ERR_980,ERR_980,0,1
3,996,xxx,this code is failed with ERR_700 and,ERR_700,2,1

AttributeError: 'Series' object has no attribute 'columns'